body {
  background:#dff;
  font: 12pt sans-serif;
}

h1 {
     text-align: center;
}
input{
    margin:10px 2px;
    width: 4rem;
}
div{
    border: solid 3px#888;
    padding: 0.5rem 1rem;
    margin: 10px 10px;
}
canvas{
    padding : 15px;
}